<h3>import mysql.connector

In [1]:
import mysql.connector as a

<h3>Connection with mysql database

In [2]:
import mysql.connector as a
conn = a.connect(host="localhost", password="mysql", user="root", auth_plugin='mysql_native_password')

<h3> To check whether the connection is established

In [3]:
if conn.is_connected():
    print("Connection is established..")
else:
    print("No")

Connection is established..

<h3>Forming cursor to execute SQL query

In [4]:
curr=conn.cursor()

<h3> Create new database named 'Bank_Dataset'

In [6]:
curr.execute("Create database Bank_Dataset")

<h3>Create the 'BankAccount' table by using 'Bank_Dataset' database

In [7]:
curr.execute("Use Bank_Dataset")
curr.execute("""CREATE TABLE IF NOT EXISTS BankAccount (
        name VARCHAR(50),
        account_no VARCHAR(10),
        dob VARCHAR(10),
        city VARCHAR(100),
        phone_no varchar(10),
        opening_balance INT
    )"""
)

<h3>Create another table 'BankAmount'

In [8]:
curr.execute("""
    CREATE TABLE IF NOT EXISTS BankAmount (
        name VARCHAR(50),
        account_no VARCHAR(10),
        balance INT(10)
    )"""
)

<h3>Creating functions to applying the following operations:</h3> 1. Open Account <br> 2. Deposit Amount <br> 3. Withdraw Amount<br> 4. Balance Enquiry<br> 5. Display Customer Details <br> 6. Close an Account

In [9]:
#Function to Open an Account
def openAcc():
    name = input("Enter Name: ")
    account_no = input("Enter Account No: ")
    dob = input("Enter D.O.B: ")
    city = input("Enter City: ")
    phone_no = input("Enter Phone Number: ")
    opening_balance = int(input("Enter Opening Balance: "))
    data1 = (name, account_no, dob, city, phone_no, opening_balance)
    data2 = (name, account_no, opening_balance)
    sql1 = 'INSERT INTO BankAccount VALUES (%s, %s, %s, %s, %s, %s)'
    sql2 = "INSERT INTO BankAmount values(%s,%s,%s)"
    curr = conn.cursor()
    curr.execute(sql1, data1)
    curr.execute(sql2,data2)
    conn.commit()
    print("Data Entered Successfully")
    main()

#Function to deposit the amount
def depositAmount():
    amount = int(input("Enter Amount: "))
    account_no = input("Enter Account No: ")
    a = "select balance from BankAmount where account_no=%s"
    data = (account_no,) 
    curr = conn.cursor()
    curr.execute(a, data)
    myresult = curr.fetchone()
    tam = myresult[0] + amount
    sql = "update BankAmount set balance = %s where account_no=%s"
    d = (tam, account_no)
    curr.execute(sql, d)
    conn.commit()
    main()

#Function to Withdraw an Amount
def withdrawAmount():
    amount = int(input("Enter Amount: "))
    account_no = input("Enter Account No: ")
    a = "select balance from BankAmount where account_no=%s"
    data = (account_no,)
    curr = conn.cursor()
    curr.execute(a, data)
    myresult = curr.fetchone()
    tam = myresult[0] - amount
    sql = "update BankAmount set balance = %s where account_no=%s"
    d = (tam, account_no)
    curr.execute(sql, d)
    conn.commit()
    main()
    
#Function to Check the Balance  
def checkBalance():
    account_no = input("Enter Account No:")
    a = "select balance from BankAmount where account_no=%s"
    data = (account_no,)
    curr = conn.cursor()
    curr.execute(a, data)
    myresult = curr.fetchone()
    print("Balance for Account:", account_no, "is", myresult[0])
    main()


#Function to Display the details of the user
def displayDetails():
    account_no = input("Enter Account No:")
    a = "select * from BankAmount where account_no=%s"
    data = (account_no,)
    curr = conn.cursor()
    curr.execute(a, data)
    myresult = curr.fetchone()
    for i in myresult:
        print(i, end=" ")
    main()

#Function to close an account
def closeAcc():
    account_no = input("Enter Account No:")
    sql1 = "delete from BankAccount where account_no=%s"
    sql2 = "delete from BankAmount where account_no=%s"
    data = (account_no,)
    curr = conn.cursor()
    curr.execute(sql1, data)
    curr.execute(sql2, data)
    conn.commit()
    main()

#Main program function 
def main():
    print("""
    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account
    """)
    choice = int(input("Enter Task no:"))
    if(choice==1):
        openAcc()
    elif(choice==2):
        depositAmount()
    elif(choice==3):
        withdrawAmount()
    elif(choice==4):
        checkBalance()
    elif(choice==5):
        displayDetails()
    elif(choice==6):
        closeAcc()
    else:
        print("The input provided is not right... Please provide the correct input!!")
main()

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:1
Enter Name: Ujjwal
Enter Account No: 2001331530
Enter D.O.B: 08/04/2002
Enter City: Jalalabad
Enter Phone Number: 9456856758
Enter Opening Balance: 2000
Data Entered Successfully

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:2
Enter Amount: 1500
Enter Account No: 2001331530

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:7
The input provided is not right... Please provide the correct input!!

<h3>Show all the records from both tables

In [14]:
curr.execute("select * from BankAccount")
for i in curr:
    print(i)

('Ujjwal', '2001331530', '08/04/2002', 'Jalalabad', '9456856758', 2000)
('Nisha', '2001331531', '08/04/2003', 'Jalalabad', '7044720860', 1500)
('Shubh', '2001331532', '10/06/2001', 'Lucknow', '9875555489', 1000)
('Sauhard', '2001331533', '15/01/2003', 'Delhi', '9777673630', 3000)
('Varun', '2001331534', '25/02/2001', 'Greater Noida', '9057856298', 3500)
('Aastha', '2001331535', '27/12/2000', 'Jind', '8562657660', 2590)

In [15]:
curr.execute("select * from BankAmount")
for i in curr:
    print(i)

('Ujjwal', '2001331530', 3500)
('Nisha', '2001331531', 1500)
('Shubh', '2001331532', 1000)
('Sauhard', '2001331533', 3000)
('Varun', '2001331534', 3500)
('Aastha', '2001331535', 2590)

<h3>Withdraw amount from any account

In [16]:
main()

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:3
Enter Amount: 300
Enter Account No: 2001331534

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:7
The input provided is not right... Please provide the correct input!!

<h3>Check records after amount withdrawal

In [17]:
curr.execute("select * from BankAmount")
for i in curr:
    print(i)

('Ujjwal', '2001331530', 3500)
('Nisha', '2001331531', 1500)
('Shubh', '2001331532', 1000)
('Sauhard', '2001331533', 3000)
('Varun', '2001331534', 3200)
('Aastha', '2001331535', 2590)

<h3>To check balance

In [18]:
main()

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:4
Enter Account No:2001331531
Balance for Account: 2001331531 is 1500

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:7
The input provided is not right... Please provide the correct input!!

<h3>Display details of user

In [20]:
main()

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:5
Enter Account No:2001331535
Aastha 2001331535 2590
    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:7
The input provided is not right... Please provide the correct input!!

<h3>Close an account

In [21]:
main()

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:6
Enter Account No:2001331535

    1.Open New Account
    2.Deposit Amount
    3.Withdraw Amount
    4.Balance Check
    5.Display the Details of User
    6.Close an Account

Enter Task no:7
The input provided is not right... Please provide the correct input!!

<h3>Final results

In [22]:
curr.execute("select * from BankAmount")
for i in curr:
    print(i)

('Ujjwal', '2001331530', 3500)
('Nisha', '2001331531', 1500)
('Shubh', '2001331532', 1000)
('Sauhard', '2001331533', 3000)
('Varun', '2001331534', 3200)

<h3>Show Table

In [23]:
curr = conn.cursor()
curr.execute("show tables")
for i in curr:
    print(i)

('bankaccount',)
('bankamount',)